/*my section game*/
section {
    display: flex;
    justify-content: center;
}

/* try game*/
.game {
    background-image: url("images/background-game.jpg");
    background-size: cover;
    height: 50vw;
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/*imgs here princess*/
.game img {
    margin: 10px;
    height:13rem;
    width: 13rem;
}

/*position header*/
h1,p, form {
    text-align: center;
    margin-bottom: 15px;
}

/*style header*/
h1 {
    color : #70fbf8;
    text-shadow: 3px 3px black;
    letter-spacing: 4px;
}

input {
    color : white;
    background-color: #3ec3d4;
    width: 11rem;
    height: 2rem;
}
input:hover {
    background-color: #70fbf8;
    color: white;
}

form select {
    margin: 15px;
}